@use "../global" as *;

.c-accordion {
  // 背景色やらテキストの色やらを変数で管理
  --_text-color: var(--color-text);
  --_background-default: var(--color-button-secondary);
  --_background-interactive: var(--color-text);
  --_background-opened: var(--color-accent);
  --_text-color-opened: var(--color-white);
  --_duration: 0.2s;

  &::details-content {
    content-visibility: unset;
    display: block grid;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: 300ms;
      transition-property: grid-template-rows;
    }
  }

  &:not(:last-child) {
    margin-bottom: 32px;

    @include mq("md") {
      margin-bottom: 40px;
    }
  }

  &:not([open])::details-content {
    grid-template-rows: 0fr;
  }

  &[open]::details-content {
    grid-template-rows: 1fr;
  }
}

.c-accordion__summary {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: calc(16 * var(--to-rem));
  align-items: center;
  padding-block: calc(15 * var(--to-rem));
  padding-inline: calc(15 * var(--to-rem));
  font-size: calc(18 * var(--to-rem));
  color: var(--color-white);
  background-color: var(--_background-default);
  border-radius: 12px;
  transition:
    background-color var(--_duration) ease,
    color var(--_duration) ease;

  @include mq("md") {
    padding-inline: calc(40 * var(--to-rem));
    font-size: calc(22 * var(--to-rem));
  }
}

.c-accordion__arrow {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 9px;
}

.c-accordion__arrow::before,
.c-accordion__arrow::after {
  position: absolute;
  top: 0;
  left: calc(50% - 1.5px);
  width: 3px;
  height: 11.8px;
  content: "";
  background-color: var(--color-white);
  border-radius: 9999px;
  transform-origin: 50% 1.5px;
}

.c-accordion__arrow::before {
  transform: rotate(47.3deg);
}

.c-accordion__arrow::after {
  transform: rotate(-47.3deg);
}

.c-accordion[open] .c-accordion__arrow::before {
  transition: transform 0.3s ease;
}

.c-accordion[open] .c-accordion__arrow::after {
  transition: transform 0.3s ease;
}

.c-accordion__label {
  grid-column: 1;
  font-family: var(--title-font-family);
  font-size: calc(24 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.4em;
  color: var(--color-white);
  text-align: start;

  @include mq("md") {
    font-size: calc(28 * var(--to-rem));
  }
}

.c-accordion__label--answer {
  color: var(--_background-default);

  @include mq("md") {
    text-align: center;
  }
}

.c-accordion[open] .c-accordion__summary {
  color: var(--_text-color-opened);
  background-color: var(--color-button-secondary);
  border-radius: 12px 12px 0 0;
}

.c-accordion[open] .c-accordion__arrow {
  transform: rotate(180deg);
}

.c-accordion__contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(8 * var(--to-rem));
  align-items: baseline;
  padding: calc(16 * var(--to-rem)) calc(15 * var(--to-rem));
  font-size: calc(14 * var(--to-rem));
  line-height: 1.8;
  background: var(--color-white);
  border-radius: 0 0 12px 12px;

  @include mq("md") {
    grid-template-columns: auto 1fr;
    gap: calc(16 * var(--to-rem));
    padding: calc(12 * var(--to-rem)) calc(40 * var(--to-rem));
    font-size: calc(15 * var(--to-rem));
    line-height: 2;
  }
}

.c-accordion__body {
  display: block;

  ol {
    margin-top: calc(16 * var(--to-rem));

    @include mq("md") {
      margin-top: calc(32 * var(--to-rem));
    }
  }
}

.c-accordion__text {
  line-height: 2;
}

.c-accordion__text:not(:first-of-type) {
  margin-top: calc(25 * var(--to-rem));
}

.c-accordion__image {
  display: flex;
  justify-content: center;
  margin-top: calc(16 * var(--to-rem));
}

.c-accordion__image img {
  max-width: calc(463 * var(--to-rem));
}

.c-accordion__list {
  margin-left: 15px;
  line-height: 2;
  list-style: decimal;
}

.c-accordion__list--disc {
  list-style: disc;
}

.c-accordion__list {
  li::marker {
    font-size: 15px;
  }
}

.c-accordion__step-title {
  margin-top: calc(16 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 2em;
  color: var(--color-blue);
}

.c-accordion__link {
  text-decoration: none;
  transition:
    color 0.3s,
    text-decoration 0.3s;

  &:hover {
    opacity: 0.5;
  }
}
