@use "../global" as *;

.c-button {
  display: inline-block;
  padding: calc(8 * var(--to-rem)) calc(24 * var(--to-rem));
  font-size: calc(18 * var(--to-rem));
  line-height: 1.6;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--gradient-button-primary);
  border: 1px solid currentcolor;
  border-radius: calc(8 * var(--to-rem));

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.c-button[data-color="black"] {
  position: relative;
  padding: calc(16 * var(--to-rem)) calc(56 * var(--to-rem)) calc(16 * var(--to-rem)) calc(32 * var(--to-rem));
  font-size: calc(22 * var(--to-rem));
  color: var(--color-white);
  background-color: var(--color-black);

  &::before {
    position: absolute;
    top: 50%;
    right: calc(29 * var(--to-rem));
    content: "";
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid var(--color-white);
    transform: translateY(-50%);
  }
}
