@use "../global" as *;

.c-banner {
  display: flex;
  align-items: center;
 justify-content: center;
 padding-block: calc(48 * var(--to-rem));
 margin-block: calc(80 * var(--to-rem));
 background-image: linear-gradient(180deg, #3e6186 0%, #3f64aa 100%),
 url('/assets/images/cta-bg.png');
 background-blend-mode: multiply;
 background-size: cover;
 border-radius: 24px;

}

.c-banner__inner {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.c-banner__catch {
  margin-top: calc(24 * var(--to-rem));
 font-size: calc(32 * var(--to-rem));
 line-height: 1.6;
 color: var(--color-white);
}

// .c-banner__emphasis {

// }

.c-banner__button {
  display: flex;
  justify-content: center;
  margin-top: calc(24 * var(--to-rem));
 }

