@use "../global" as *;

.c-button {
  display: inline-block;
  padding: calc(8 * var(--to-rem)) calc(24 * var(--to-rem));
  font-size: calc(18 * var(--to-rem));
  line-height: 1.6;
  color: var(--color-white);
  text-transform: uppercase;
  background: var(--gradient-button-primary);
  border-radius: calc(8 * var(--to-rem));

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.c-button[data-color="orange"] {
  position: relative;
  padding: calc(12 * var(--to-rem)) calc(40 * var(--to-rem)) calc(12 * var(--to-rem)) calc(16 * var(--to-rem));
  font-size: calc(18 * var(--to-rem));
  line-height: 1.6;
  color: var(--color-white);

  @include mq("md") {
    padding: calc(16 * var(--to-rem)) calc(56 * var(--to-rem)) calc(16 * var(--to-rem)) calc(32 * var(--to-rem));
    font-size: calc(22 * var(--to-rem));
  }

  &::before {
    position: absolute;
    top: 50%;
    right: calc(16 * var(--to-rem));
    content: "";
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid var(--color-white);
    transform: translateY(-50%);

    @include mq("md") {
      right: calc(29 * var(--to-rem));
    }
  }
}

.c-button--blue {
  font-size: 15px;
  background: var(--color-button-secondary);
  border-radius: 999px;
  box-shadow: 2px 2px 24px rgb(0 0 0 / 2%);
}

.c-button--close {
  padding: calc(8 * var(--to-rem)) calc(56 * var(--to-rem));
  cursor: pointer;
  background: var(--color-text);
}
