@use "../global" as *;

.c-bg {
  position: relative;
  z-index: 1;
  background-size: cover;

  &::before {
    position: absolute;
    inset:0;
    z-index: -1;
    content: "";
    background-color: var(--color-light-blue); // ←背景色

  }
}

