@use "../global" as *;

.c-card {
  overflow: hidden;
  // 検証用
  // resize: horizontal;
  text-align: center;
  background-color:var(--color-white);
  border-radius: 16px;
  box-shadow:0 0 24px rgba(0 0 0 / 8%);
  transition: scale 0.3s ease;
  container-type: inline-size;
  container-name: card;
}

.c-card__body {
  display: grid;
  grid-template-columns: minmax(min(calc(400 * var(--to-rem)), 100%), 1fr) auto;
  height: 100%;


  // 700px以下の場合はカードを縦に並べる
  @container card (inline-size <= 700px) {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (any-hover: hover) {
  .c-card:has(.c-button:hover) .c-card__image img {
    scale: 1.1;
  }
}

.c-card__content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: calc(24 * var(--to-rem));
}

.c-card__title {
  padding: calc(12 * var(--to-rem));
  margin: 0;
  font-size: calc(24 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;
  color: var(--color-white);

  &--red {
    background-color: var(--color-red);
  }

  &--blue {
    background-color: var(--color-blue);
  }

  &--green {
    background-color: var(--color-green);
  }
}

.c-card__tag {
 font-family: var( --title-font-family);
 font-size: calc(24 * var(--to-rem));
 font-weight: 500;
 line-height: 1.6;
}

@include mq(md) {
  .c-card__title {
    font-size: calc(24 * var(--to-rem));
  }
}

.c-card__text {
  margin: 0;
  font-size: calc(14 * var(--to-rem));
  line-height: 1.8;
  color: var(--color-text-secondary);
}

@include mq(md) {
  .c-card__text {
    font-size: calc(16 * var(--to-rem));
  }
}

.c-card__list {
 display: inline-block;
 margin:  auto;
 margin-bottom: calc(24 * var(--to-rem));
}

.c-card__item {
  position: relative;
  display: block;
  padding-left: calc(28 * var(--to-rem));
  line-height: 2;
  text-align: start;
}

.c-card__item:not(:first-of-type) {
  margin-top: 4px;
}

.c-card__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url('../images/check-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.c-card__note {
  display: flex;
  justify-content: center;
  margin-top: calc(32 * var(--to-rem));


li {
  position: relative;
  padding-left: 16px;
  text-align: start;

&::before{
  position: absolute;
  left: 0;
  content: '※';
  background: url("../images/common/") center center /contain no-repeat;
  }
 }
}

.c-card__button {
  display: flex;
  justify-content: center;
  margin-top: calc(80 * var(--to-rem));
}
