@use "../global" as *;

/* モーダル本体 */
.c-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 90%;
  max-width: 999px;
  padding: calc(32 * var(--to-rem)) calc(48 * var(--to-rem));
  background: var(--color-white);
  border-radius: 16px;
  transform: translate(-50%, -50%);
}

.c-modal__mask {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

// modal中身

.c-modal__op-title {
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(28 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;
  color: var(--color-blue);
}

.c-modal__text {
  font-size: calc(15 * var(--to-rem));
  font-weight: var(--fw-egular);
  line-height: 2;
  list-style: disc;

 &--modal {
  margin-left: 20px;
 }
}

.c-modal__note {
  margin-top: calc(12 * var(--to-rem));
  font-size: calc(13 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 1.6;
}

.c-modal__item {
  margin-top: calc(12 * var(--to-rem));
  font-size: calc(15 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 2;
}


.c-modal__term {
  font-size: calc(15 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 2;
}

.c-modal__close {
  display: flex;
 align-items: center;
 justify-content: center;
  margin-top: calc(22 * var(--to-rem));
}


/* 初期状態では非表示 */
.hidden {
  display: none;
}
