@use "../global" as *;

.c-media__content:not(:first-of-type) {
  margin-top: calc(64 * var(--to-rem));
}

/* Flexboxレイアウト */
.c-media__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq("md") {
    flex-direction: row;
    gap: 40px;
  }
}

/* 画像エリア */
.c-media__image {
  aspect-ratio: 1/1;
  box-shadow: 2px 2px 24px 0 rgb(0 0 0 / 1.9%);

  img {
    width: 181px;
    object-fit: cover;
  }
}

.c-media__text {
  align-items: flex-start;
  margin-top: calc(16 * var(--to-rem));

  @include mq("md") {
    margin-top: 0;
  }
}

.c-media__title {
  font-size: calc(20 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;

  @include mq("md") {
    font-size: calc(28 * var(--to-rem));
  }
}

.c-media__subtitle {
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(20 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;
  color: var(--color-blue);
}

.c-media__desc {
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(16 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 2;
}

/* テキストエリア */
.c-media__title:not(:first-of-type) {
  margin-top: calc(24 * var(--to-rem));
}

.c-media__button {
  margin-top: calc(8 * var(--to-rem));
  text-align: center;

  @include mq("md") {
    text-align: start;
  }
}

.c-media__item {
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(14 * var(--to-rem));

  @include mq("md") {
    font-size: calc(16 * var(--to-rem));
  }
}

.p-vision__note {
  margin-top: calc(16 * var(--to-rem));
  font-size: calc(14 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 1.8;

  @include mq("md") {
    font-size: calc(15 * var(--to-rem));
    line-height: 2;
  }
}
