@use "../global" as *;

.c-media__content:not(:first-of-type) {
 margin-top: calc(64 * var(--to-rem));
}

/* Flexboxレイアウト */
.c-media__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq("md"){
 flex-direction: row;
  gap: 40px;
  }
}

/* 画像エリア */
.c-media__image {
 aspect-ratio: 1/1;
 box-shadow: 2px 2px 24px 0px rgba(0, 0, 0, 0.019);

img {
  width: 181px;
  object-fit: cover;
 }
}



.c-media__title {
  font-size: calc(28 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;
}

.c-media__subtitle {
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(20 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;
  color: var(--color-blue);
}

.c-media__desc {
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(16 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 2;
}

/* テキストエリア */
.c-media__title:not(:first-of-type) {
  margin-top: calc(24 * var(--to-rem));
}

.c-media__button {
  margin-top: calc(8 * var(--to-rem));
}
