@use "../global" as *;

.c-section-title {
  position: relative;
  font-size: calc(20 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.4;
  text-align: center;

  @include mq(md) {
    font-size: calc(32 * var(--to-rem));
    line-height: 1.6;
  }
}

.c-section-title[data-position="center"] {
  text-align: center;
}

.c-section-title::before {
  display: block;
  font-family: var(--title-font-family);
  font-size: calc(16 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 1.4;
  color: var(--color-gray);
  letter-spacing: 0.04em;
  content: attr(data-title);

  @include mq("md") {
    font-size: calc(20 * var(--to-rem));
  }
}

.c-section-title[data-position="center"]::before {
  text-align: center;
}
