@use "../global" as *;

.c-service-card {
  flex: 0 1 auto;
  width: clamp(calc(280 * var(--to-rem)), calc(348 * var(--to-rem)), 100%);
}

.c-service-card__content {
  height: 100%;
  padding-block: calc(32 * var(--to-rem));
  padding-inline: calc(24 * var(--to-rem));
  background-color: pink;
  border-radius: 16px;
}

.c-service-card__head {
 display: flex;
 align-items: center;
}


.c-service-card__icon {
  width: 33px;
  height: 33px;

  img {
    height: auto;
  }
}

.c-service-card__title {
 margin-left: 16px;
 font-size: calc(20 * var(--to-rem));
 font-weight: var(--fw-bold);
 line-height: 1.6;
}

.c-service-card__list {
 padding-top: calc(16 * var(--to-rem));
 padding-left: calc(24 * var(--to-rem));
 list-style: disc;
}

.p-service-card-list__row {
  display: flex;
  flex-wrap: wrap;
  gap: calc(40 * var(--to-rem));
  justify-content: center;
  width: 100%;

  @include mq(md) {
    justify-content: flex-start;
  }
}

.p-service-card-list__row--bottom {
  justify-content: center;
}

.c-service-card__item {
    font-size: calc(15 * var(--to-rem));
    line-height: 2;
}


