@use "../global" as *;

.c-section-title {
  position: relative;
  font-family: var(--title-font-family);
  font-size: calc(40 * var(--to-rem));
  line-height: 1;
  text-transform: uppercase;

  @include mq(md) {
    font-size: calc(60 * var(--to-rem));
  }
}

.c-section-title[data-position="center"] {
  text-align: center;
}

.c-section-title[data-position="left"] {
  text-align: left;
}

.c-section-title[data-position="right"] {
  text-align: right;
}

.c-section-title::before {
  position: absolute;
  top: 50%;
  z-index: -1;
  font-size: calc(60 * var(--to-rem));
  color: var(--color-gray);
  content: attr(data-title);

  @include mq(md) {
    font-size: calc(120 * var(--to-rem));
  }
}

.c-section-title[data-position="center"]::before {
  left: 50%;
  translate: -50% -50%;
}

.c-section-title[data-position="left"]::before {
  left: 0;
  translate: 0 -50%;
}

.c-section-title[data-position="right"]::before {
  right: 0;
  translate: 0 -50%;
}
