@use "../global" as *;

.c-tags {
 display: flex;
 gap: 27px;
 align-items: center;
}

.c-tag {
 padding-block: calc(4 * var(--to-rem));
 padding-inline: calc(16 * var(--to-rem));
 font-size:  calc(24 * var(--to-rem));
 font-weight: var(--fw-bold);
 line-height: 1.6;
 color: var(--color-secondary);
 background: var(--color-light-blue);
 border-radius: 4px;

 &--blue {
  font-size:  calc(20 * var(--to-rem));
  font-weight: var(--fw-regular);
  color: var(--color-white);
  background: var(--color-blue);
 }

}

