@use "../global" as *;

/* モーダル本体 */
.p-solution-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 90%;
  max-width: 999px;
  padding: calc(32 * var(--to-rem)) calc(48 * var(--to-rem));
  background: var(--color-white);
  border-radius: 16px;
  transform: translate(-50%, -50%);
}

.c-media__mask {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}


/* Flexboxレイアウト */
.c-media__content {
  display: flex;
  gap: calc(40 * var(--to-rem));
  align-items: center;
}

/* 画像エリア */
.c-media__image img {
  width: 181px;
  height: 181px;
  object-fit: contain;
}

/* テキストエリア */
.c-media__title:not(:first-of-type) {
  margin-top: calc(24 * var(--to-rem));
}

.c-media__op-title {
  margin-top: calc(8 * var(--to-rem));
  font-size: calc(28 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;
  color: var(--color-blue);
}

.c-media__text {
  font-size: calc(15 * var(--to-rem));
  font-weight: var(--fw-egular);
  line-height: 2;
  list-style: disc;

 &--modal {
  margin-left: 20px;
 }
}

.c-media__note {
  margin-top: calc(12 * var(--to-rem));
  font-size: calc(13 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 1.6;
}

.c-media__item {
  margin-top: calc(12 * var(--to-rem));
  font-size: calc(15 * var(--to-rem));
  font-weight: var(--fw-regular);
  line-height: 2;
}


.c-media__term {
  font-size: calc(15 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 2;
}


.c-media__subtitle {
  font-size: calc(20 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.6;
  color: var(--color-blue);
}

.c-media__desc {
  font-size: calc(13 * var(--to-rem));
  font-weight: var(--fw-egular);
  line-height: 1.6;
}

.c-media__close {
  display: flex;
 align-items: center;
 justify-content: center;
  margin-top: calc(22 * var(--to-rem));
}


/* 初期状態では非表示 */
.hidden {
  display: none;
}

.c-media__button {
  margin-top: calc(16 * var(--to-rem));
}
