<section class="p-cta-section">
  <div class="p-cta-section__inner l-inner">
  <div class="c-banner">
    <div class="c-banner__inner">

      <ul class="c-tags">
        <li class="c-tag">データ急増</li>
        <li class="c-tag">海外保管</li>
        <li class="c-tag">不正アクセス</li>
      </ul>

      <p class="c-banner__catch">
        3つの課題を解決する“サラストレージ”
      </p>

      <div class="c-banner__button">
        <a href="/contact" class="c-button" data-color="orange">ご相談・お問い合わせはこちら</a>
      </div>
    </div>
    </section>
