<section class="p-mv p-bg">
  <div class="p-mv__inner l-inner">
    <div class="p-mv__wrap">
      <div class="p-mv__content">
        <div class="p-mv__tags">
          <ul class="c-tags">
            <li class="c-tag c-tag--blue">データ急増</li>
            <li class="c-tag c-tag--blue">海外保管</li>
            <li class="c-tag c-tag--blue">不正アクセス</li>
          </ul>
        </div>
        <p class="p-mv__sub-title">3つの課題を解決する</p>
        <h2 class="p-mv__main-title">長期保存向け<br />国内分散型ストレージ<br class="sp-br" />という選択</h2>
        <picture class="p-mv__image img--sp">
          <img src="./assets/images/fv@2x.png" alt="ストレージサービスの説明イラスト" />
        </picture>
        <p class="p-mv__text">
          Social Knowledge
          Bank合同会社（以下SKB合同会社）が北海道更別村と協働で開始する「サラストレージ」は、お客様の大切なデータを日本国内で分散保存いたします。官民連携で実現する「国内データインフラ」として、大量データを長期に安価に保存する、新しいデータ保管の選択肢です。
        </p>
        <div class="p-mv__button">
          <a href="https://super-village.net/contact/" target="_blank" rel="noopener noreferrer" class="c-button" data-color="orange"
            >ご相談・お問い合わせはこちら</a
          >
        </div>
      </div>
      <picture class="p-mv__image img--pc">
        <source srcset="/assets/images/fv@2x.webp" media="(min-width: 768px)" />
        <img src="./assets/images/fv@2x.png" alt="ストレージサービスの説明イラスト" />
      </picture>
    </div>
  </div>
</section>
