<section id="plan" class="p-plan">
  <div class="l-inner l-inner--card">
    {{> c-section-title title_en="Plan" title="サラストレージ サービスプラン<br />(個人・中小企業向け)" position="center"}}
    <div class="p-plan__list">
      {{> c-card title="スタンダードプラン" modifier="red" item1="個人・中小企業・研究機関に最適" item2="基本的な分散保存機能" item3="標準サポート" }}
      {{> c-card title="ビジネスプラン" modifier="blue" item1="成長企業・技術系企業に最適" item2="基本的な分散保存機能" item3="基本的な分散保存機能"
      }} {{> c-card title="エンタープライズプラン" modifier="green" item1="大量データ保存に最適" item2="専用担当者アサイン"
      item3="カスタマイズ開発対応（別途）" }}
    </div>
    <div class="c-card__note">
      <ul class="c-card__note-list">
        <li>料金は容量単位での設定です。</li>
        <li>容量追加・カスタムプランについてはお問い合わせください。</li>
      </ul>
    </div>
    <div class="c-card__button">
      <a
        href="https://super-village.net/contact/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="お問い合わせページへ移動"
        class="c-button"
        data-color="orange"
      >
        ご相談・お問い合わせはこちら
      </a>
    </div>
  </div>
</section>
