<section id="vision" class="p-vision p-bg">
  <div class="l-inner l-inner--service">
    <h2 class="p-vision-title">
      なぜ、SKB合同会社は<br />
      <span>「国産データインフラ」</span>
      を創るのか？
    </h2>
    <div class="p-vision__item">
      <h3 class="p-vision__heading">
        <span class="p-vision__bar"></span>
        日本のデジタル資産が抱える構造的課題
      </h3>
      <div class="p-vision__texts">
        <p class="p-vision__text">
          私たちのデジタル資産は、現在、海外企業のクラウドサービスに大きく依存しています。写真、研究データ、企業の機密情報など、その多くが海外のサーバーに保管されている現状は、法規制の変更や地政学的なリスクに対し、あまりにも脆弱です。
        </p>
        <p class="p-vision__text">
          私たちSocial Knowledge
          Bank合同会社は、この「データ主権」の課題を解決するため、日本国内で完結する「国産データインフラ」の確立をミッションの一つとする法人です。
        </p>
      </div>
    </div>

    <div class="p-vision__media">
      <div class="p-vision__content">
        <div class="p-vision__image">
          <img src="/assets/images/vision_01.png" alt="" />
        </div>
        <div class="p-vision__title-wrap">
          <h2 class="p-vision__title">
            更別村は、そのビジョンを実現する<br />
            「第一号パートナー」です
          </h2>
        </div>
        <div class="p-vision__text-box">
          <p class="p-vision__desc">
            SKB合同会社は、この壮大なインフラ構想を、理念を共有する自治体との「官民連携」によって全国に展開してまいります。北海道更別村は、国が推進するデジタル田園都市国家構想のモデルケースとして、このビジョンにいち早く賛同いただいた、私たちにとって誇るべき最初のパートナー自治体です。
          </p>
        </div>
      </div>
      <div class="p-vision__content">
        <div class="p-vision__image">
          <img src="/assets/images/vision_02.png" alt="" />
        </div>
        <div class="p-vision__title-wrap">
          <h2 class="p-vision__title">
            「社会インフラ」としての<br />
            長期安定性を目指します
          </h2>
        </div>
        <div class="p-vision__text-box">
          <p class="p-vision__desc">
            一般的な民間企業による利益優先のサービスとは異なり、自治体と連携して「社会インフラ」を構築します。<br />また、社会インフラとして長期事業継続を目指します。
          </p>
        </div>
      </div>
      <div class="p-vision__content">
        <div class="p-vision__image">
          <img src="/assets/images/vision_03.png" alt="" />
        </div>
        <div class="p-vision__title-wrap">
          <h2 class="p-vision__title">
            社会的課題への貢献と、<br class="sp-br" />
            新しい地方産業の創出
          </h2>
        </div>
        <div class="p-vision__text-box">
          <p class="p-vision__desc">本事業は、日本のデータ主権確保という社会的課題に取り組むと同時に、地方の新たな産業創出にも貢献いたします。</p>
          <ol class="p-vision__items">
            <li class="p-vision__list">
              <span>1. データ主権の確保への貢献</span>
              国内データインフラの構築により、日本のデジタル資産を国内で安全に管理する体制を整備
            </li>
            <li class="p-vision__list">
              <span>2.持続可能な地方産業の創出</span>
              都市部で生成されるデータを地方が支えるという、新たな産業構造の実現
            </li>
          </ol>
          <div class="p-vision__desc">
            これは、デジタル田園都市国家構想の理念に沿った取り組みであり、従来の「地方創生」における一過性の施策とは異なる、持続可能な地域経済の基盤となる、新しい地方の在り方を提示するものです。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
