@use "../global" as *;

.l-inner {
  max-width: calc(var(--inner-sp) + var(--padding-inner) * 2);
  padding-inline: var(--padding-inner);
  margin-inline: auto;

  @include mq("md") {
    max-width: calc(var(--inner) + var(--padding-inner) * 2);
  }
}

.l-inner--faq {
  max-width: calc(var(--inner-faq) + var(--padding-inner) * 2);
}

.l-inner--card {
  max-width: calc(var(--inner-card) + var(--padding-inner) * 2);
}

.l-inner--service {
  max-width: calc(var(--inner-service-card) + var(--padding-inner) * 2);
}
