<footer class="p-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__content">
    <div class="p-footer__info">
      <div class="p-footer__logo">
        <a href="#">
          <img src="/assets/images/logo-footer.svg" alt="social knowledge bank合同会社" />
        </a>
      </div>
        <p class="p-footer__company">Social Knowledge Bank合同会社</p>
        <address class="p-footer__address">
          〒089-1542<br>
          北海道河西郡更別村<br class="sp-br">字更別南二線96番地14
        </address>
    </div>
      <nav class="p-footer__nav">
        <ul class="p-footer__nav-list">
          <li class="p-footer__nav-item"><a href="/">運用会社</a></li>
          <li class="p-footer__nav-item"><a href="/" target="_blank" rel="noopener noreferrer">
            プライバシーポリシー
          </a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
