<div class="p-sample__accordion-list">
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      既存のクラウドサービスと何が違うの？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
          <p class="c-accordion__text">3つの大きな違いがあります。</p>
          <ol>
          <li class="c-accordion__list">保存場所 ： 海外ではなく、100%日本国内
          </li>
          <li class="c-accordion__list">保存方法 ： 1 箇所ではなく、全国に分散</li>
          <li class="c-accordion__list">運営主体 ： SKB 合同会社が「官民連携」で主導いたします。自治体がパートナーとなることで、短期的な収益性よりも公共性を重視した、社会インフラとして長期事業継続を目指します。</li>
        </ol>
      </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      データ移行は難しくない？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
        <p class="c-accordion__text">ご安心ください。専用アプリを使ってドラッグ&ドロップで簡単に操作できます。</p>
        </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>料金体系がよくわからない...
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
        <p class="c-accordion__text">シンプルです！合計の伝送容量(アップロード/ダウンロード)の料金設定です。<span class="u-text__inline-block">（例：ファイル 1GB の場合、保存による上り１ GB、取り出しによる下り 1GB で伝送量は合計 2GB）</span>
        </p>
        <p class="c-accordion__text">契約期間内で1TBを1ヶ月で使っても、3年で使っても、料金は同じです。</p>
        <p class="c-accordion__text">また、伝送量を使わない期間に追加料金は必要なく、ダウンロードする時に新たにプリペードカードを追加して登録する（アクティベーション）ことでデータを引き出すことが可能です。</p>
        <p class="c-accordion__text">
          ※プリペードカードの利用契約期間が満了後、5 年以内に一度も追加アクティベーションが無かった場合は、ストレージ上にある全データは削除されます。</p>
          <picture class="c-accordion__image">
              <source srcset="/assets/images/faq01.webp" media="(min-width: 768px)" />
              <img src="/assets/images/faq01.png" alt="" />
          </picture>
      </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      途中で解約できる？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
        <p class="c-accordion__text">もちろんです。<span class="u-text__inline-block">短期プロジェクトから長期運用まで、お客様のニーズに合わせて不要になった時点で、いつでも解約可能です。</span>
          ただし、契約期間が残っている場合はその期間の利用権利を喪失します。</p>
        </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      小さく始められる？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
        <p class="c-accordion__text">1TBから利用可能です。<br>
          事業の成長に合わせて、柔軟に容量を拡張できます。</p>
          <span class="u-text__inline-block">初期投資を抑えてスタートできます。</span></p>
      </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      IPFSって何？難しそう...
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
        <p class="c-accordion__text">簡単に言うと「データを分散保存する技術」です。
          <span class="u-text__inline-block">
          1つのサーバーにデータを置くのではなく、複数の場所に分散して保存する最新技術。</span>
          <span class="u-text__inline-block">
          NFT（デジタルアート）の保存などで世界中で使われている信頼性の高い技術です。</span>
          </p>
        <p class="c-accordion__text">操作は普通のファイル保存と変わりません。 <br>
          技術的な知識がなくても、安心してご利用いただけます。</p>
        </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      災害などでも本当にデータは消えない？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <p class="c-accordion__text">全国の複数拠点に分散保存しているため、一部の拠点が被災してもデータは保護されます。
          <span class="u-text__inline-block">
          被災拠点が復旧次第、自動的に再分散が行われるので、人の手を介さず、すぐに元の安全な状態に戻ります。</span></p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      サポートは充実してる？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <div class="c-accordion__contents">
          <span class="c-accordion__label c-accordion__label--answer">A</span>
          <div class="c-accordion__body">
        <p class="c-accordion__text">プランに応じたサポートをご提供します。</p>
         <ul>
          <li class="c-accordion__list c-accordion__list--disc">スタンダード：標準サポート（メール対応）</li>
          <li class="c-accordion__list c-accordion__list--disc">ビジネス：優先サポート（メール対応・電話対応）</li>
          <li class="c-accordion__list c-accordion__list--disc">エンタープライズ：専任担当者による個別サポート</li>
        </ul>
        <p class="c-accordion__text">技術的な質問から運用相談まで、専門チームが迅速に対応します。</p>
      </div>
        </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      サラストレージを利用するために必要なものは？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
          <div class="c-accordion__body">
        <p class="c-accordion__text">プランに応じたサポートをご提供します。</p>
         <ul>
          <li class="c-accordion__list c-accordion__list--disc">メールアドレス</li>
          <li class="c-accordion__list c-accordion__list--disc">マイナンバーカード</li>
          <li class="c-accordion__list c-accordion__list--disc">サラストレージ（PC アプリ）のダウンロード<br>〈DL URL〉***************</li>
          <li class="c-accordion__list c-accordion__list--disc">
            デジタル庁認証アプリのインストール（「デジタル庁 認証アプリ」で検索）〈詳細〉https://services.digital.go.jp/auth-and-sign/start-guide/
          </li>
        </ul>
          </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      利用するための手順は？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
          <div class="c-accordion__body">
        <p class="c-accordion__text">3ステップで簡単スタート。</p>
        <ul class="c-accordion__step-list">

          <li class="c-accordion__step">
            <p class="c-accordion__step-title">
              &lt;STEP1&gt; アプリをダウンロード・インストール
            </p>
            <p class="c-accordion__step-text">
              専用アプリをPCにインストール
            </p>
          </li>

          <li class="c-accordion__step">
            <p class="c-accordion__step-title">
              &lt;STEP2&gt; アカウント登録
            </p>
            <p class="c-accordion__step-text">
              メールアドレス＋マイナンバーカード認証
            </p>
          </li>

          <li class="c-accordion__step">
            <p class="c-accordion__step-title">
              &lt;STEP3&gt; すぐ使える！
            </p>
            <p class="c-accordion__step-text">
              ドラッグ＆ドロップでファイルをアップロード
            </p>
          </li>

        </ul>
      </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      会員登録の具体的な流れは？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
          <p class="c-accordion__text">以下の手順で会員登録をすることができます。</p>
          <ol class="c-accordion__list">
              <li>サラストレージをインストールする</li>
              <li>サラストレージを立ち上げて起動する</li>
              <li>[会員登録ボタン]をクリック</li>
              <li>メールアドレスを登録する</li>
              <li>利用規約に同意する</li>
              <li>[認証コードを取得]ボタンをクリック</li>
              <li>メールで取得した「認証コード」を入力</li>
              <li>氏名を入力</li>
              <li>[マイナンバーカード認証]ボタンをクリック</li>
              <li>デジタル庁のデジタル認証アプリで認証手続きを行う（表示されたQRコードをスマホのカメラで読み取る）</li>
              <li>アプリに表示されている6ケタの数字を入力して、マイナンバーカードを認証する</li>
              <li>デジタル認証アプリで認証が完了する</li>
              <li>サラストレージに戻り、ログイン完了</li>
        </ol>
      </div>
      </div>
    </div>
  </details>
</div>
