<div class="p-sample__accordion-list">
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      既存のクラウドサービスと何が違うの？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
          <p class="c-accordion__text">3つの大きな違いがあります。</p>
          <ol>
          <li>1. 保存場所 ： 海外ではなく、100%日本国内
          </li>
          <li>2. 保存方法 ： 1 箇所ではなく、全国に分散</li>
          <li>3. 運営主体 ： SKB 合同会社が「官民連携」で主導いたします。自治体がパートナーとなることで、短期的な収益性よりも公共性を重視した、社会インフラとして長期事業継続を目指します。</li>
        </ol>
      </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      データ移行は難しくない？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
        <p class="c-accordion__text">ご安心ください。専用アプリを使ってドラッグ&ドロップで簡単に操作できます。</p>
        </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>料金体系がよくわからない...
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <div class="c-accordion__body">
        <p class="c-accordion__text">シンプルです！合計の伝送容量(アップロード/ダウンロード)の料金設定です。（例：ファイル 1GB の場合、保存による上り１ GB、取り出しによる下り 1GB で伝送量は合計 2GB）
        </p>
        <p class="c-accordion__text">契約期間内で1TBを1ヶ月で使っても、3年で使っても、料金は同じです。</p>
        <p class="c-accordion__text">また、伝送量を使わない期間に追加料金は必要なく、ダウンロードする時に新たにプリペードカードを追加して登録する（アクティベーション）ことでデータを引き出すことが可能です。</p>
        <p class="c-accordion__text">
          ※プリペードカードの利用契約期間が満了後、5 年以内に一度も追加アクティベーションが無かった場合は、ストレージ上にある全データは削除されます。</p>
      </div>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      料金体系がよくわからない...
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      途中で解約できる？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      小さく始められる？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      IPFSって何？難しそう...
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      災害などでも本当にデータは消えない？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <span class="c-accordion__label c-accordion__label--answer">A</span>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      サポートは充実してる？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      サラストレージを利用するために必要なものは？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      利用するための手順は？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">
      <span class="c-accordion__label">Q</span>
      会員登録の具体的な流れは？
      <span class="c-accordion__arrow"></span>
    </summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
</div>
