<div class="l-inner">
  <h2 class="p-sample__title2 u-text__marker">カードレイアウト（:hasとコンテナクエリ）</h2>
  <p>カード単体（サイズが大きいときは横並び）</p>
  <div class="c-card">
    <div class="c-card__body">
      <div class="c-card__image">
        <img src="https://placehold.jp/600x400.png" alt="カード画像1" width="600" height="400" loading="lazy" />
      </div>
      <div class="c-card__content">
        <h3 class="c-card__title">カードタイトル1</h3>
        <p class="c-card__text">
          ここにカードの説明テキストが入ります。説明文はある程度の長さを持たせることで、レイアウトの確認ができます。ここにカードの説明テキストが入ります。説明文はある程度の長さを持たせることで、レイアウトの確認ができます。
        </p>
        <div class="c-card__button">
          <a href="#" class="c-button" data-color="black">詳しく見る</a>
        </div>
      </div>
    </div>
  </div>
  <hr class="p-sample__divider" />
  <p>カードのリスト（サイズが小さいときは縦並び）</p>
  <div class="p-card-list">
    <div class="c-card">
      <div class="c-card__body">
        <div class="c-card__image">
          <img src="https://placehold.jp/600x400.png" alt="カード画像1" width="600" height="400" loading="lazy" />
        </div>
        <div class="c-card__content">
          <h3 class="c-card__title">カードタイトル1</h3>
          <p class="c-card__text">ここにカードの説明テキストが入ります。説明文はある程度の長さを持たせることで、レイアウトの確認ができます。</p>
          <div class="c-card__button">
            <a href="#" class="c-button" data-color="black">詳しく見る</a>
          </div>
        </div>
      </div>
    </div>
    <div class="c-card">
      <div class="c-card__body">
        <div class="c-card__image">
          <img src="https://placehold.jp/600x400.png" alt="カード画像2" width="600" height="400" loading="lazy" />
        </div>
        <div class="c-card__content">
          <h3 class="c-card__title">カードタイトル2</h3>
          <p class="c-card__text">ここにカードの説明テキストが入ります。説明文はある程度の長さを持たせることで、レイアウトの確認ができます。</p>
          <div class="c-card__button">
            <a href="#" class="c-button" data-color="black">詳しく見る</a>
          </div>
        </div>
      </div>
    </div>
    <div class="c-card">
      <div class="c-card__body">
        <div class="c-card__image">
          <img src="https://placehold.jp/600x400.png" alt="カード画像3" width="600" height="400" loading="lazy" />
        </div>
        <div class="c-card__content">
          <h3 class="c-card__title">カードタイトル3</h3>
          <p class="c-card__text">ここにカードの説明テキストが入ります。説明文はある程度の長さを持たせることで、レイアウトの確認ができます。</p>
          <div class="c-card__button">
            <a href="#" class="c-button" data-color="black">詳しく見る</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
