<div class="c-problem-item">
  <div class="c-problem-item__body">
    <div class="c-problem-item__head">
    <span class="c-problem-item__number">1</span>
   <div class="c-problem-item__wrap">
    <h3 class="c-problem-item__title">
      データ、どんどん増えていませんか？
    </h3>
   <p class="c-problem-item__text">
    写真、動画、顧客データ、研究記録…<br>
    年率30%のペースで増え続けるデータ。<br>
    数年で倍増する量をどう保存しますか？
   </p>
  </div>
</div>
    <div class="c-problem-item__texts">
      <dl class="c-problem-item__dl">
        <dt class="c-problem-item__dt">
          外付けハードディスクを増やし続ける？
        </dt>
        <dd class="c-problem-item__dd">
          機器の故障でデータが消失する危険性があります。
        </dd>

        <dt class="c-problem-item__dt">
          クラウドの料金が膨らみ続ける？
        </dt>
        <dd class="c-problem-item__dd">
          多くのクラウドでは月次/年次の固定費用がどんどん大きくなります。
        </dd>

        <dt class="c-problem-item__dt">
          クラウドを月次契約したが<br class="sp-br">使っていない領域がある？
        </dt>
        <dd class="c-problem-item__dd">
          契約済みのクラウドで使っていない領域は無駄になってしまいます。
        </dd>
      </dl>
    </div>
  </div>

  <div class="c-problem-item__image">
    <img src="/assets/images/problem_01.png" alt="" />
  </div>
</div>

<div class="c-problem-item" data-reverse="true">
  <div class="c-problem-item__body">
    <div class="c-problem-item__head">
    <span class="c-problem-item__number">2</span>
   <div class="c-problem-item__wrap">
    <h3 class="c-problem-item__title">
      海外クラウドには<br>アクセスのリスクがあります
    </h3>
   <p class="c-problem-item__text">
    クラウドサービス、本当に安全ですか?<br>
   「大手だから安心」と思っていませんか?
   </p>
  </div>
</div>
<p class="c-problem-item__sub-text">実は、多くのクラウドサービスは海外の<br class="sp-br">サーバーにデータを保存しています。</p>
<div class="c-problem__wrap">
   <ul class="c-problem-list">
      <li>各国の政府の主張や（国家安全保障等）によってアクセスできなくなるリスク。
        </li>
      <li>世界的な規範が存在しないことで不信感が増大している地政学的リスクや法規制の変更により、お客様の大切なデータに危険性が迫ります。</li>
    </ul>
    <span class="c-problem-list-note">（（出典元：総務省：デジタルインフラ（DC等）整備に関する有識者会合より）</span>
  </div>
  </div>

  <div class="c-problem-item__image">
    <img src="/assets/images/problem_02.png" alt="" />
  </div>
</div>

<div class="c-problem-item">
  <div class="c-problem-item__body">
    <div class="c-problem-item__head">
    <span class="c-problem-item__number">3</span>
   <div class="c-problem-item__wrap">
    <h3 class="c-problem-item__title">
      特にこのような方は対策が急務です
    </h3>
   <p class="c-problem-item__text">
    以下の方々は特に注意が必要です。
   </p>
  </div>
</div>
    <div class="c-problem-item__texts">
      <dl class="c-problem-item__dl">
        <dt class="c-problem-item__dt">
          大量の写真・動画を保存するクリエイター
        </dt>
        <dd class="c-problem-item__dd">
          作品の消失・改ざんは創作活動の致命的な損失となります。
        </dd>

        <dt class="c-problem-item__dt">
          大量の研究データを保存する<br class="sp-br">必要がある研究者
        </dt>
        <dd class="c-problem-item__dd">
          大量の研究成果が消失・改ざんされれば、学術的信頼性が失われます。
        </dd>

        <dt class="c-problem-item__dt">
          海外クラウドに不安を感じている企業
        </dt>
        <dd class="c-problem-item__dd">
          機密情報の流出・消失・改ざんは、企業の競争力と信頼を失墜させます。
        </dd>
      </dl>
    </div>
  </div>

  <div class="c-problem-item__image">
    <img src="/assets/images/problem_03.png" alt="" />
  </div>
</div>

