<div class="c-service-card">
  <div class="c-service-card__content">
    <div class="c-service-card__head">
      <div class="c-service-card__icon">
        <img src="/assets/images/{{icon}}.png" alt="{{title}}" />
      </div>
      <h3 class="c-service-card__title">{{{title}}}</h3>
    </div>
    <ul class="c-service-card__list">
      <li class="c-service-card__item">{{item1}}</li>
      <li class="c-service-card__item">{{item2}}</li>
      <li class="c-service-card__item {{item3Class}}">{{item3}}</li>
    </ul>
  </div>
</div>
