@use "sass:math";

@property --root-font-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 16px;
}

// ローカルフォントのNoto sans JPを優先して使用するためのフォントファイルを読み込む
@font-face {
  font-family: "Local Noto Sans JP";
  src: local("Noto Sans JP");
}

:root {
  /* inner */
  --inner: min(1140px, 100%);
  --inner-sp: min(500px, 100%);
  --inner-faq: min(875px, 100%);
  --inner-card: min(1091px, 100%);
  --inner-service-card: min(1124px, 100%);
  --inner-flow: min(930px, 100%);
  --padding-inner: 20px;

  /* z-index */
  --z-index-header: 900;

  /* color */
  --color-white: #fff;
  --color-text: #333;
  --color-red: #b74040;
  --color-gray: #c4c4c4;
  --color-light-blue: #F6F9FF;
  --clor-lignt-orange: #FCF7E5;
  --color-blue: #1D6CBB;
  --color-bg-gray: #eee;
  --color-bg-black: #232323;
  --color-green: #1D774B;
  --color-primary: #234f5e;
  --color-secondary: #37618a;
  --color-orange: #de8430;
  --gradient-button-primary: linear-gradient(90deg,#E57311 0%, #E6914A 100%);
  --color-button-secondary: #356EA8; // ブルー系ボタン


  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* font-family */
  --base-font-family: "Local Noto Sans JP", "Noto Sans JP", sans-serif;
  --title-font-family: "Prompt", sans-serif;

  // 16pxを基準として、1pxあたりのremを計算
  --to-rem: calc(tan(atan2(1px, var(--root-font-size))) * 1rem);
  // how to use
  // font-size: calc(16 * var(--to-rem));

  /* transition duration */
  --duration: 0.3s;

  /* header height */
  --header-height: 64px;

  /* padding scale pc=1, mobile=0.6 sp=0.4 */
  --space-scale: clamp(0.4, calc(100vw / 1440), 1);

  @media screen and (width >= 768px) {
    --header-height: 92px;
  }
}
