@use "../global" as *;

.p-bg {
  position: relative;
  background-size: cover;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    background-color: var(--color-light-blue); // ←背景色
  }
}
