@use "../global" as *;

.p-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(280 * var(--to-rem)), 1fr));
  gap: calc(52 * var(--to-rem));
  margin-top: calc(80 * var(--to-rem));
}
