@use "../global" as *;

.p-footer {
  padding-block: calc(24 * var(--to-rem));
  background-color: var(--color-bg-black);

  @include mq(md) {
    padding-block: calc(80 * var(--to-rem))calc(24 * var(--to-rem));
  }
}


.p-footer__logo {
  width: 100%;
  max-width: calc(180 * var(--to-rem));

  img {
    width: 100%;
    height: auto;
  }
}

.p-footer__company {
  margin-top: calc(24 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 2;
  color: var(--color-white);
}

.p-footer__address {
  margin-top: calc(16 * var(--to-rem));
  font-size:  calc(15 * var(--to-rem));
  font-style: normal;
  line-height: 2;
  color: var(--color-white);
}



.p-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(15 * var(--to-rem)) calc(30 * var(--to-rem));
  justify-content: center;

  @include mq(md) {
    justify-content: center;
    margin-top:calc(80 * var(--to-rem));
  }
}

.p-footer__nav-item a {
  color: var(--color-white);
  text-decoration: none;
  transition: opacity 0.3s;
}

@media (any-hover: hover) {
  .p-footer__nav-item a:hover {
    opacity: 0.7;
  }
}

