@use "../global" as *;

.p-header {
  height: var(--header-height);
  background-color: var(--color-white);
  box-shadow: 0 0 25px oklch(from var(--color-black) l c h / 10%);

  @include mq("md") {
    --header-height: 92px;
  }
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-inline: calc(15 * var(--to-rem));

  @include mq("md") {
    padding-inline: calc(48 * var(--to-rem));
  }
}

.p-header__logo {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: calc(88 * var(--to-rem));
  height: calc(51 * var(--to-rem));

  @include mq("md") {
    max-width: calc(112 * var(--to-rem));
  }
}

.p-header__logo a {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-header__nav {
  position: relative;
  display: none;
  height: inherit;

  @include mq("lg") {
    display: block;
    flex: 1;
    container-type: inline-size;
  }
}

.p-header__nav-list {
  display: flex;
  justify-content: flex-end;
  height: inherit;
}

.p-header__nav-item,
.p-header__nav-modal-wrap {
  height: inherit;
}

.p-header__nav-item.p-header__nav-item--contact {
  display: flex;
  align-items: center;
  margin-inline-start: calc(15 * var(--to-rem));
}

.p-header__nav-item > a {
  display: flex;
  align-items: center;
  height: inherit;
  padding-block: 0;
  padding-inline: clamp(12px, 2cqi, 20px);
  font-size: clamp(13px, 2cqi, 18px);
  font-weight: var(--fw-medium);
  line-height: 1;
  color: var(--color-text);
}

.p-header__nav-item.p-header__nav-item--contact a {
  position: relative;
  padding-inline: calc(50 * var(--to-rem));
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-primary);

  &::after {
    position: absolute;
    top: 50%;
    right: calc(20 * var(--to-rem));
    width: 5px;
    aspect-ratio: 1 / 1;
    content: "";
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    transition: transform var(--duration);
    rotate: 45deg;
    translate: 0 -50%;

    @include mq("md") {
      width: calc(10 * var(--to-rem));
      height: calc(10 * var(--to-rem));
    }
  }
}

@media (any-hover: hover) {
  .p-header__nav-item a:hover {
    opacity: 0.7;
  }
}

.p-header__actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.p-header__nav-button {
  display: none;

  @include mq("md") {
    display: flex;
    align-items: center;
    padding-left: clamp(12px, 2cqi, 20px);
  }
}

.p-header__hamburger {
  position: relative;
  z-index: 999;
  width: calc(64 * var(--to-rem));
  height: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color var(--duration);

  @include mq("lg") {
    display: none;
  }
}

.p-header__hamburger span {
  position: relative;
  left: 50%;
  display: block;
  width: calc(37 * var(--to-rem));
  height: 1px;
  background-color: var(--color-text);
  transition:
    top calc(var(--duration) * 1.67),
    opacity calc(var(--duration) * 1.67);
  translate: -50% 0;

  &:nth-of-type(1) {
    top: -11px;
  }

  &:nth-of-type(2) {
    top: 0;
  }

  &:nth-of-type(3) {
    top: 11px;
  }
}

.p-header__hamburger.is-open span {
  &:nth-of-type(1) {
    top: 0;
    rotate: 45deg;
  }

  &:nth-of-type(2) {
    opacity: 0;
  }

  &:nth-of-type(3) {
    top: -2px;
    rotate: -45deg;
  }
}

.p-header__drawer {
  position: fixed;
  inset: 0;
  z-index: 900;
  display: none;
  width: 100%;
  height: 100svh;
  padding-bottom: calc(110 * var(--to-rem));
  overflow-y: scroll;
  background-color: #f6f9ff;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.p-header__drawer-list {
  margin-top: 132px;
}

.p-header__drawer-item.p-header__drawer-item--contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-header__drawer-item > a,
.p-header__drawer-accordion-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(56 * var(--to-rem));
  font-size: calc(20 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: 1.4;
  cursor: pointer;
}

.p-header__drawer-accordion-title {
  width: 100%;
  text-align: left;
}

.p-header__drawer-item.p-header__drawer-item--contact a {
  position: relative;
  width: 100%;
  max-width: calc(180 * var(--to-rem));
  padding: calc(15 * var(--to-rem)) 0;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-primary);
}

@media (any-hover: hover) {
  .p-header__drawer-item.p-header__drawer-item--contact a:hover::after {
    translate: 4px -50%;
  }
}
