@use "../global" as *;

.p-header {
  height: var(--header-height);
  background-color: var(--color-white);
  box-shadow: 0 0 25px oklch(from var(--color-black) l c h / 10%);

  @include mq("md") {
    --header-height: 92px;
  }
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-inline: calc(48 * var(--to-rem));
}

.p-header__logo {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: calc(60 * var(--to-rem));
  height: calc(66 * var(--to-rem));

  @include mq("md") {
    max-width: calc(112 * var(--to-rem));
  }
}

.p-header__logo a {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-header__nav {
  position: relative;
  display: none;
  height: inherit;

  @include mq("lg") {
    display: block;
    flex: 1;
    container-type: inline-size;
  }
}

.p-header__nav-list {
  display: flex;
  justify-content: flex-end;
  height: inherit;
}

.p-header__nav-item,
.p-header__nav-modal-wrap {
  height: inherit;
}

.p-header__nav-item.p-header__nav-item--contact {
  display: flex;
  align-items: center;
  margin-inline-start: calc(15 * var(--to-rem));
}

.p-header__nav-item > a,{
  display: flex;
  align-items: center;
  height: inherit;
  padding-block: 0;
  padding-inline: clamp(12px, 2cqi, 20px);
  font-size: clamp(13px, 2cqi, 18px);
  font-weight: var(--fw-medium);
  line-height: 1;
  color: var(--color-text);
}


.p-header__nav-item.p-header__nav-item--contact a {
  position: relative;
  padding-inline: calc(50 * var(--to-rem));
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-primary);

  &::after {
    position: absolute;
    top: 50%;
    right: calc(20 * var(--to-rem));
    width: 5px;
    aspect-ratio: 1 / 1;
    content: "";
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    transition: transform var(--duration);
    rotate: 45deg;
    translate: 0 -50%;

    @include mq("md") {
      width: calc(10 * var(--to-rem));
      height: calc(10 * var(--to-rem));
    }
  }
}

.p-header__nav-button {
  display: flex;
  align-items: center;
  padding-left: clamp(12px, 2cqi, 20px);
}
