@use "../global" as *;

.p-mv {
  height: max(100svh, calc(1200 * var(--to-rem)));
  padding-top: calc(var(--header-height) + 120px); // ヘッダー分 + 上余白
  padding-bottom: 120px; // 下余白のみ

  @include mq(md) {
    height: max(calc(500 * var(--to-rem)), 100%);
  }
}

.p-mv__wrap {
  display: flex;
  gap: calc( 56 * var(--to-rem));
  align-items: center;
  justify-content: center;

  @include mq(md) {
    justify-content: space-between;
 }
}

.p-mv__content {
 width: 100%;

  @include mq(md) {
    flex-basis: 53.6%;
  }
}

.p-mv__tags {
  .c-tags {
    gap: 16px;
  }
}

.p-mv__main-title {
  margin-top: 8px;
  font-size: calc(32 * var(--to-rem));
  line-height: 1.5;

  @include mq(md) {
    font-size: clamp(calc(32 * var(--to-rem)), 5cqi, calc(40 * var(--to-rem)));
  }
}

.p-mv__sub-title {
  margin-top: calc(24 * var(--to-rem));
  font-size: calc(18 * var(--to-rem));
  line-height: 1.6;

  @include mq(md) {
    font-size: clamp(calc(18 * var(--to-rem)), 3cqi, calc(28 * var(--to-rem)));
  }
}

.p-mv__text {
  margin-top: calc(24 * var(--to-rem));
  font-size: calc(16 * var(--to-rem));
  font-weight: var( --fw-regular);
  line-height: 2;
}

.p-mv__image {
  width: 100%;

  @include mq(md) {
    flex-basis: 41.4%;
  }
}


/* --- PCデフォルト --- */
.img--sp {
  display: block;
}

.img--pc {
  display: none;
}

/* --- SP表示時 --- */
@include mq(md) {
  .img--sp {
    display: none;
  }

  .img--pc {
    display: block;
  }
}

.p-mv__button {
 margin-top: calc(40 * var(--to-rem));
}
