@use "../global" as *;

.p-problem {
  position: relative;
  padding-block: calc(48 * var(--to-rem));

  &::after {
    position: absolute;
    bottom: -119px;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 119px;
    clip-path: polygon( 0 0, 100% 0, 50% 100%);
    content: "";
    background-color: var(--color-white);
  }

  @include mq("md"){
    padding-block: calc(120 * var(--to-rem));

  }
}

.p-problem__list {
  margin-top: calc(80 * var(--to-rem));
}
